# AI Model Inference (Groq)
GROQ_API_KEY=kunci_api_groq_anda

# MLOps Model Registry
MLFLOW_TRACKING_URI=http://localhost:5000

# LangSmith Evaluation & Tracing (Manajemen RAG)
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=kunci_api_langsmith_anda
LANGCHAIN_PROJECT="Risk_Production"